@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  background-color: #ffffff;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Varela Round", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  margin: 0 auto !important;
  padding: 0 30px;
}

.logo {
  width: 50px;
}

.collection{
  margin-top: 20px !important;
}

.header {
  font-family: "Varela Round" !important;
  color: #5c5c5c;
  font-size: 3rem;
}
